html, body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0a2891;
    color: #fff;
    height: 85px;
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
    font-family: monospace;
}


table{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #0a2891;
    border-spacing: 0px;
    border-radius: 4px;
}

th, td{
    border: 1px solid black;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0a2891;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-family: monospace;
}

footer a{
    color: inherit;
}

footer div{
    font-size: 14px;
    margin-top: 10px;
}

.previous_checks{
    margin: 0 auto;
    border-style: outset;
    min-height: 60vh;
}

.title{
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.previous_checks table{
    margin-bottom: 20px;
    margin-top: 30px;
    width: 90%;
    border-width: 2px;
}